{% extends 'base.html' %}

{% block title %}
Solution to the ttt challenge
{% endblock %}

{% block content %}

<div class="container text-center">
    <form class="form-inline mt-5" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group mr-3">
            {{ form.num(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </form>
</div>

{% include "result.html" %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
        var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
                alert(messages[i]);
            }
    </script>
  {% endif %}
{% endwith %}


{% endblock %}


